.nav-bar {
  position: fixed;
  top: 0;
  height: 64px;
  width: 100%;
  max-width: 425px;
  justify-content: space-between;
  z-index: 99;
  background-color: #fff;

  &__button {
    position: absolute;
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  &__title {
    font-weight: 600;
    padding: 22px;
    font-size: 18px;
    display: block;
    text-align: center;
  }
}