.popup {
  $parent: 'popup';

  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.6);


  &__main {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 32px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 18px 18px 0 0;
    transition: 0.2s;
    transform: translateY(100%);
  }

  &__title {
    margin: 0;
    font-size: 24px;
    margin-bottom: 24px;
    text-align: center
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &--show {
    z-index: 999;

    .#{$parent}__main {
      transition: 0.5s ease-out;
      transform: translateY(0%);
    }
  }
}