.friend-detail {
  display: flex;
  justify-content: center;
  height: 100%;

  &__content {
    padding-top: calc(64px + 42px);
    width: 100%;
    text-align: center;
  }

  &__title {
    margin-top: 0;
    font-size: 24px;
    max-width: 375px;
    margin-bottom: 42px;
  }

  &__user-name {
    margin: 0;
    font-size: 24px;
    margin-bottom: 8px;
  }

  &__user-age {
    margin: 0;
    font-size: 18px;
    opacity: 0.6;
    margin-bottom: 8px;
  }

  &__image-input {
    max-width: 100%;
    margin-bottom: 42px;
  }
}